.h5p-escape-room-editor-contents-list-item {
  --border-width: 2px;
  --icon-handle: var(--icon-fontawesome-ellipsis-vertical) var(--icon-unicode-hair-space) var(--icon-unicode-hair-space) var(--icon-fontawesome-ellipsis-vertical);

  align-items: stretch;
  box-sizing: border-box;
  background: var(--color-alternative-base);
  border: var(--border-width) solid var(--color-alternative-base);
  border-bottom-color: var(--color-alternative-dark);
  border-radius: var(--border-radius-medium);
  box-shadow: 0 1px 0 0 var(--color-alternative-dark);
  color: var(--color-text-primary);
  display: flex;
  font-size: calc(0.8 * var(--font-size-m));
  list-style: none;
  user-select: none;

  &:hover, &[data-dnd-dragging="true"], &:focus-within {
    background: var(--color-alternative-dark);
    border-color: var(--color-contrast-cta-white);
    box-shadow: 0 3px .3em 0 var(--color-alternative-darker);

    .h5p-escape-room-editor-contents-list-item-handle {
      background-color: var(--color-contrast-cta-white);

      &::before {
        color: var(--color-secondary-contrast-cta-hover);
      }
    }
  }

  .h5p-escape-room-editor-contents-list-item-handle {
    background-color: color-mix(in srgb, var(--color-alternative-dark), transparent 30%);
    border: none;
    padding: 0;
    cursor: grab;
    position: relative;
    width: var(--spacing-m);

    &::before {
      color: var(--color-text-third);
      content: var(--icon-handle);
      font-family: "H5PFontAwesome4", sans-serif;
      font-size: var(--font-size-l);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:active {
      cursor: grabbing;
    }

    &:focus-visible {
      outline: 2px ridge var(--color-contrast-cta-white);
    }
  }

  .h5p-escape-room-editor-contents-list-item-button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    flex: 1;
    font-size: inherit;
    margin-left: 2px; /* Give outline enough space */
    min-width: 0;
    padding: calc(0.5 * var(--spacing-xxs)) var(--spacing-xxs);
    text-align: start;

    .h5p-escape-room-editor-contents-list-item-title {
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .h5p-escape-room-editor-contents-list-item-type {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &:focus-visible {
      outline: 2px ridge var(--color-contrast-cta-white);
    }
  }
}

.h5p-editor-escape-room-wrapper:not(.using-mouse) {
  .h5p-escape-room-editor-contents-list-item {
    border: var(--border-width) solid var(--color-alternative-base);
    border-bottom-color: var(--color-alternative-dark);
    box-shadow: 0 1px 0 0 var(--color-alternative-dark);

    .h5p-escape-room-editor-contents-list-item-handle {
      background-color: color-mix(in srgb, var(--color-alternative-dark), transparent 30%);
      border-radius: var(--border-radius-medium) 0 0 var(--border-radius-medium);

      &::before {
        color: var(--color-text-third);
      }
    }

    .h5p-escape-room-editor-contents-list-item-button {
      border-radius: 0 var(--border-radius-medium) var(--border-radius-medium) 0;
    }

    &[data-dnd-dragging="true"] {
      background: var(--color-alternative-dark);
      border-color: var(--color-contrast-cta-white);
      box-shadow: 0 3px .3em 0 var(--color-alternative-darker);

      .h5p-escape-room-editor-contents-list-item-handle {
        background-color: var(--color-contrast-cta-white);
        outline: 2px solid var(--color-contrast-cta-white);

        &::before {
          color: var(--color-secondary-contrast-cta-hover);
        }
      }
    }
  }
}
