.h5p-escaperoom-editor {

  .scene-wrapper {
    .scene-container {
      position: relative;
    }

    .scene-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      background: black;
      opacity: 0.8;
      z-index: 1;

      border: 0;
      cursor: pointer;
    }

    /* Overrides for H5P.EscapeRoom */
    .h5p-three-sixty {
      .nav-button:active {
        border: none;
      }

      .nav-button-wrapper.highlight {
        .nav-button {
          border: 0.25em solid #70b0ff;
        }
      }
    }
  }
}
